body {
  margin: 250px auto;
  max-width: 50%;
  background-color: aliceblue;
  font-family: 'Cedarville Cursive', 'cursive';
  font-size: 30px;
  color: white;
}

.App {
  text-align: center;
}

.tic-tac-board {
  width: 600px;
  height: 600px;
  border: 40px solid rgba(240, 180, 135, 1);
  background: rgba(40, 40, 40, 1) -webkit-radial-gradient(center, rgba(40, 80, 60, 1), rgba(0, 20, 20, 0.6));
  border-radius: 10%;
  display: grid;
}

.player-mode {
  display: grid;
  grid-template-columns: repeat(2, 300px);
}

.one-player,
.two-player {
  height: 50px;
  margin: 5px;
  text-align: center;
}

.one-player:hover {
  border: 3px dashed aliceblue;
  border-radius: 50px;
  cursor: pointer;
}

.two-player:hover {
  border: 3px dashed aliceblue;
  border-radius: 50px;
  cursor: pointer;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  font-size: 60px;
}

.option-x:hover {
  border: 3px dashed aliceblue;
  border-radius: 50px;
  cursor: pointer;
}

.option-o:hover {
  border: 3px dashed aliceblue;
  border-radius: 50px;
  cursor: pointer;
}

.go-back-button:hover {
  border: 3px dashed aliceblue;
  border-radius: 50px;
  cursor: pointer;
}

h3 {
  font-size: 45px;
}
